body{
    font-family: 'Open Sans', sans-serif;
    color:#444;}

.container{
    padding:0 100px;}

.one-column-text{
    padding:80px 30px;}

.one-column-text h2{
    font-size:25px;
    font-weight:300;
    color:#057d9f;
    line-height:0px;
    text-align: center;}

.one-column-text h3{
    font-size:20x;
    font-weight:300;
    color:#057d9f;
    text-align: center;
    line-height:40px;}
    
/*-------------------------------------*/

.contact-info{
    margin-top:100px;}
    
.contact-info h3{
    font-weight:300;
    margin:30px 0;}
    
.contact-info p{
    font-weight:300;}
    
.contact-info span{
    font-size:18px;
    margin:20px 0 20px 0;
    font-weight:300;}

.contact-info hr{
    border:solid 1px #eee;
    margin:50px 0;}